body{
	color: #333;
}

body, ol, ul, li,
fieldset, form, label, legend, input, textarea, select{
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: Helvetica, Arial, sans-serif;
}

h1{
	margin: 0;
	font-size: 1.25em;
}

a{
	color: #1183BB;
}

p{
	line-height: 1.5;
	margin: 0 0 1.5em 0;
}

hr{
	border: none;
	border-bottom: 1px dotted #ccc;
	margin: 20px 0;
}

.alignC{
	text-align: center;
}

header{
	text-align: center;
	padding: 10px 0;

}

.heading{
	position: relative;
	color: #fff;
	position: relative;
	text-transform: uppercase;
	background: #333 !important; /* Old browsers */
	padding: 40px 0;
	text-align: center;
}

.heading::after {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 30px;
	width: calc(100% - 60px);
	height: 10px;
	background-color: rgba(0, 0, 0, 0.25);
}

header + header{
}

.heading h4{
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0,0,0,.3);
	margin: 0 0 10px 0;
	padding: 0 20px;
	text-transform: none;
}

.phone{
	text-align: left;
	font-size: 1em;
	line-height: 2em;
	overflow: hidden;
}

.phone .inner{
	width: 240px;
	margin: 0 auto;
	overflow: hidden;
}

.phone a{
	color: #000;
	text-decoration: none;
	font-weight: bold;	
}

.phone span{
	float: left;
}

.phone img{
	float: right;
}

.heading .arrow{
	bottom: -10px;
	width:100%;
	position: absolute;
}

form{
	padding: 30px;
	background: #efefef;
}

select,
input[type=text]{
	margin-bottom: 20px;
	width:100%;
}

input[type=text]{
	box-sizing: border-box;
	padding: 5px 10px;
	height: 40px;
	border: none;
	border-left: 2px solid #333;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
}

select {
	background: #fff;
	height: 40px;
	border: 1px solid #cccccc;
}

.thirds {
	display: flex;
}

.thirds select{
}

.thirds input{
}

p.disclaimer{
	font-size: .55em;
}

.btn-submit{
	display: block;
	text-align: center;
	margin: 20px auto;
	font-size: 1.5em;
	line-height: 3;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	background: #1185BE;
	border: none;
	padding: 0 40px;
	box-shadow: 0 10px 50px rgba(0, 0, 0, .25);
	min-width: 70%;
	text-transform: uppercase;
	font-weight: bold;
}

.btn-submit::after {
	content: ' ';
}

input + #rapidSsl{
	display: block;
	margin: 20px auto;
}

.floatL{
	float:left;
}

.floatR{
	float:right;
}

.icon-svg {
	stroke :#1183BB;
}

a,
.main-color-font {
	color: #1183BB; /* variable for main color */
}

/*=======================================

Info and Footer

=======================================*/

.info{
	padding: 30px;
}

.info h2,
.info h3{
}

.steps{
	display: flex;
	flex: 1;
	padding: 30px 0;
	border-bottom: 1px solid rgba(255,255,255,.3);
	border-top: 1px solid rgba(0,0,0,.2);
	overflow: hidden;
	position: relative;
}

.steps:first-child{
	border-top: none;
}

.steps:last-child{
	border-bottom: none;
}

.steps svg,
.steps img{
	width: 30%;
	margin-right: 20px;
}

.steps h3{
	margin: 0 0 10px 0;
}

.steps p{
	margin: 0;
	opacity: .8;
}

.finePrint{
	padding: 20px;
	font-size: .7em;
}

footer{
	text-align: center;
	margin-bottom: 20px;
}

/*=======================================

Decline

=======================================*/
.declineList{
	margin: 20px;
}

.declineList li{
	margin-bottom: 10px;
	list-style: none;
	line-height: 40px;
	display: block;
}

.declineList li a{
	display: block;
	border-radius: 10px;
	line-height: 3em;
	height: 3em;
	border: 1px solid #ccc;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #e8e8e8 50%, #e0dfdf 51%, #d8dee4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(50%,#e8e8e8), color-stop(51%,#e0dfdf), color-stop(100%,#d8dee4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#e8e8e8 50%,#e0dfdf 51%,#d8dee4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#e8e8e8 50%,#e0dfdf 51%,#d8dee4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#e8e8e8 50%,#e0dfdf 51%,#d8dee4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #efefef 0%,#e8e8e8 50%,#e0dfdf 51%,#d8dee4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#d8dee4',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
	color: #111;
}

.declineList a span{
	display: inline-block;
	margin: 0 20px 0 0;
	padding: 0 10px;
	font-size: .8em;
	width:20%;
	text-align: center;
	line-height: 3.75em;
	height: 3.75em;
	color: #fff;
	text-shadow: -1px -1px 1px rgba(0,0,0,.3);
	font-family: Helvetica, Arial, sans-serif;
	border-radius: 10px 0 0 10px;
	background: #2d2d2d; /* Old browsers */
	background: -moz-linear-gradient(top, #2d2d2d 0%, #000000 50%, #141414 51%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(50%,#000000), color-stop(51%,#141414), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2d2d2d 0%,#000000 50%,#141414 51%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2d2d2d 0%,#000000 50%,#141414 51%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2d2d2d 0%,#000000 50%,#141414 51%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2d2d2d 0%,#000000 50%,#141414 51%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#decline .steps img{
	top:10px;
}

#decline .heading{
	padding: 10px;
	overflow: hidden;
}

#decline .heading h1{
}

#decline .heading #rapidSsl{
	margin-left: 10px;
}

#decline h4{
	margin: 10px 20px;
}

/*=======================================

Page4 and Page5

=======================================*/
.page4{
	margin: 20px;
}

.page4 form{
	padding: 0;
	margin: 0;
}

.secure{
	box-sizing: border-box;
	color: #fff;
	padding: 10px 30px 10px 10px;
	background: #2d2d2d; /* Old browsers */
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width:100%;
}

.secure h3{
	margin:0;
	line-height: 30px;
	height: 30px;
}

.secure img#lock{
	float: left;
	margin-right: 10px;
}

.secure #rapidSsl{
	position: absolute;
	right: 0;
	top:0;
}

.btn-edit{
	box-sizing: border-box;
	display: block;
	background: #2d2d2d; /* Old browsers */
	font-size: 1em;
	margin: 40px auto;
	clear: both;
	color: #fff;
	border: none;
	line-height: 40px;
	min-width: 70%;
}

#dateTime{
	font-size: 1.5em;
}

#dateTime .date{
}

/*=======================================

Loading

=======================================*/

#timer{
	font-size: 4em;
	margin: 0;
}

.content{
	margin: 20px;
}

#important{
	color: #810106;
}


.loading .steps h2{
	margin: 0;
	color: #000;
	text-transform: uppercase;
	text-shadow: none;
}

.loading .steps{
	padding: 10px 0;
}

.loading #rapidSsl{
	margin-top: -10px;
}

/*=======================================

Portrait and Landscape Styling

=======================================*/

body.portrait h1 span{
	font-size: 1.35em;
	color: #fff;
}

body.landscape h1{
	font-size: .8em;
}

body.landscape h4{
	font-size: .5em;
}

body.landscape h1 span{
	color: #fff;
}

body.landscape form p,
body.landscape select{
	width:49%;
}

body.landscape .thirds select{
	width:32%;
	font-size: .7em;
}

body.landscape form p{
	display: inline-block;
}

body.landscape form p.disclaimer{
	width:100%;
	display:block;
}

body.landscape input[type=text]{
	width:49%;
}

body.landscape .finePrint{
	font-size: .5em;
}


/*=======================================

Tabs

=======================================*/

ul.tabs{
	list-style: none;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}

ul.tabs::before {
	content: ' ';
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 4px solid #ddd;
	
}

ul.tabs li{
	text-align: center;
	display: inline-block;
	padding: 10px 30px;
	position: relative;
	z-index: 2;
}

ul.tabs li.active{
}

ul.tabs li a{
	color:#a8a8a8;
	text-decoration: none;
	display: block;
	padding-top: 30px;
	background: url(/img/mobile/icons.png) center 0 no-repeat;
}

ul.tabs li.active:nth-child(1) a{
	background-position: center -60px;
	color: #fff;
}

ul.tabs li:nth-child(2) a{
	background-position: center -120px;
}

ul.tabs li.active:nth-child(2) a{
	background-position: center -180px;
}

ul.tabs li:nth-child(3) a{
	background-position: center -240px;
}

ul.tabs li.active:nth-child(3) a{
	background-position: center -300px;
}

